body{
    margin: 0%;
    padding: 0%;
     background: #02478b; 
    background: -webkit-linear-gradient(to right, #021B79, #0456a8); 
    background: linear-gradient(to right, #021B79, #054d96);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
   background-color: #0001015e;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgb(0, 0, 0);
   padding: 20px;
   width: 600px;
   
   

}

h1{
    color: #fff;
    text-align: center;
    
    
}





li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    background-color: #5d5c5c;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.834);
    height: 33px;
}

input[type="text"]{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.834);
    margin-right: 4px
}


 #Angel{
    text-decoration: none;
    color: #ffffff;
 }

 .footer {
   
    color: #ffffff;
    position: absolute;
    bottom: 0;
    
}
#github{
    position: absolute;
  
    margin-left: -5px;
    margin-top: -12px;
}
  


 #png{
    position: absolute;
    margin-top: 4px;
 }

 #indicadores{
    color: #ffffff;
    display: flex;
    justify-content: center;

    }
 

    

@media screen and (max-width: 800px) {
    .container {
        width: 80%;
        height: auto;
    }
    h1 {
        font-size: 24px;
    }
    .tarea {
        align-items: flex-start;
            
    }
    .botonesD {
        align-items: center;
        flex-direction: column;
       
            
    }
    button {
        width: 25%;
        
        
    }
    input[type="text"] {
        width: 65%;
        
    }

}